[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "NewWave"]
	path = NewWave
	url = https://github.com/fedeago/newwave
	shallow = true
	registered = true
